.about {
  #Introduction {
    background-color: var(--color2);
    .introduction-container {
      min-height: 100vh;
      height: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 120px;
      .top {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;

        .left {
          display: flex;
          flex: 1;
          height: 100%;
          width: 100%;
          padding-bottom: 60px;
          justify-content: flex-start;
          .introduction--img {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            width: 520px;
            position: relative;

            .square {
              width: 400px;
              height: 148px;
              border: 12px solid var(--accent1);
              &:nth-child(1) {
                align-self: flex-start;
              }
              &:nth-child(2) {
                align-self: flex-end;
              }
              &:nth-child(3) {
                align-self: center;
              }
            }
            img {
              width: 360px;
              height: 360px;
              border-radius: 200px;
              background-color: var(--accent2);
              position: absolute;
              top: calc(50% - 180px);
              left: calc(50% - 180px);
            }
          }
        }
        .right {
          display: flex;
          flex: 1;
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: center;
          padding-bottom: 60px;
          h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            margin-bottom: 30px;
            color: var(--text1);
          }
          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: var(--text1);
            max-width: 589px;
            strong {
              color: var(--accent2);
              font-weight: 400;
            }
            a {
              text-decoration: line-through;
              font-size: 1rem;
              font-weight: 700;
              color: var(--accent2);
            }
          }
          .button-wrapper {
            display: flex;
            gap: 20px;
            a {
              button {
                width: 120px;
                height: 40px;
                font-size: 1rem;
                font-weight: 500;
                line-height: 24px;
                border-radius: 8px;
                transition: all 200ms;
                margin-top: 30px;
                &#Hire {
                  background-color: var(--text1);
                  border: none;
                }
                &#Download {
                  background-color: transparent;
                  border: 1px solid var(--text1);
                  color: var(--text1);
                }
                &:hover {
                  transform: translateY(-2px);
                }
              }
            }
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 52px;
        width: 100%;
        animation: slideDown 4s ease-out infinite;
        .mouse-wrapper {
          position: relative;
          margin-bottom: 10px;
          div:nth-child(1) {
            width: 20px;
            height: 30px;
            background-color: #fff;
            border-radius: 40px;
          }
          div:nth-child(2) {
            position: absolute;
            top: 4px;
            left: calc(50% - 1px);
            width: 2px;
            height: 8px;
            background-color: var(--color2);
            border-radius: 4px;
          }
        }
        p {
          font-size: 10px;
          font-weight: 300;
          color: var(--text1);
          text-align: center;
        }
      }
    }
  }
  #Details {
    background-color: var(--color1);
    .details-container {
      min-height: 100vh;
      height: 100%;
      flex-direction: column;
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
