/* color */
:root {
  --color1: #282833;
  --color2: #353543;
  --accent1: #2c2c38;
  --accent2: #ffba19;
  --accent3: #3f3f50;
  --text1: #e5e5e5;
}

.section-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
.content-container {
  flex: 1;
  display: flex;
  max-width: 1440px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.additional-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
